// librerias, settings and variables
@import "lib/variables";
//mixins
@import "lib/mixins";

//Elements base
@import "tablas";
@import "base/buttons";
@import "base/links";
@import "base/typography";

//Components
@import "components/grids";

//Layout
@import "layout/layout";

//Este siempre va de último
@import "components/utilities";



$color: red;
$color1: blue;
$color2: green;

.div {
  background-color: $color;
}


