/*--------------*\
  $typographys
\*--------------*/

blockquote {
  margin: 0 0 0 /* $lineheight */ 0 ;
  padding-left: 5px /* $padding */;
  border-left: 2px solid #000000 /* $color-border */;
  font-family: Arial, Helvetica, sans-serif /* $altfont */;
  font-style: normal;
  p{
    font-size: map-get($fs, normal);
  }
}

p{
  z-index:map-get($zi, layer-1);
}

.sticky{
  z-index: map-get($zindex, zindex-sticky);
}